IO_LOC "d[0]" 3;
IO_PORT "d[0]" IO_TYPE=LVCMOS33;
IO_LOC "d[1]" 10;
IO_PORT "d[1]" IO_TYPE=LVCMOS33;
IO_LOC "d[2]" 13;
IO_PORT "d[2]" IO_TYPE=LVCMOS33;
IO_LOC "d[3]" 15;
IO_PORT "d[3]" IO_TYPE=LVCMOS33;
IO_LOC "d[4]" 16;
IO_PORT "d[4]" IO_TYPE=LVCMOS33;
IO_LOC "d[5]" 17;
IO_PORT "d[5]" IO_TYPE=LVCMOS33;
IO_LOC "d[6]" 19;
IO_PORT "d[6]" IO_TYPE=LVCMOS33;
IO_LOC "d[7]" 21;
IO_PORT "d[7]" IO_TYPE=LVCMOS33;
IO_LOC "s[0]" 23;
IO_PORT "s[0]" IO_TYPE=LVCMOS33;
IO_LOC "s[1]" 27;
IO_PORT "s[1]" IO_TYPE=LVCMOS33;
IO_LOC "s[2]" 28;
IO_PORT "s[2]" IO_TYPE=LVCMOS33;
IO_LOC "g" 35;
IO_PORT "g" IO_TYPE=LVCMOS33;
IO_LOC "y" 38;
IO_PORT "y" IO_TYPE=LVCMOS33;
IO_LOC "z" 40;
IO_PORT "z" IO_TYPE=LVCMOS33;
