IO_LOC "a" 15;
IO_LOC "b" 16;
IO_LOC "c" 27;
IO_LOC "clk" 3;
IO_LOC "we" 4;
IO_LOC "ce" 5;
IO_LOC "addr[0]" 6;
IO_LOC "addr[1]" 7;
IO_LOC "addr[2]" 8;
IO_LOC "addr[3]" 9;
IO_LOC "addr[4]" 10;
IO_LOC "addr[5]" 11;
IO_LOC "addr[6]" 13;
IO_LOC "addr[7]" 14;
IO_LOC "addr[8]" 17;
IO_LOC "addr[9]" 18;
IO_LOC "din[0]" 19;
IO_LOC "din[1]" 20;
IO_LOC "din[2]" 21;
IO_LOC "din[3]" 22;
IO_LOC "din[4]" 23;
IO_LOC "din[5]" 24;
IO_LOC "din[6]" 28;
IO_LOC "din[7]" 29;
IO_LOC "dout[0]" 30;
IO_LOC "dout[1]" 31;
IO_LOC "dout[2]" 32;
IO_LOC "dout[3]" 33;
IO_LOC "y" 45;
IO_LOC "z" 46;
