IO_LOC "clk" 3;
IO_PORT "clk" IO_TYPE=LVCMOS33;
IO_LOC "en" 4;
IO_PORT "en" IO_TYPE=LVCMOS33;
IO_LOC "a[0]" 5;
IO_PORT "a[0]" IO_TYPE=LVCMOS33;
IO_LOC "a[1]" 6;
IO_PORT "a[1]" IO_TYPE=LVCMOS33;
IO_LOC "a[2]" 7;
IO_PORT "a[2]" IO_TYPE=LVCMOS33;
IO_LOC "a[3]" 8;
IO_PORT "a[3]" IO_TYPE=LVCMOS33;
IO_LOC "o[0]" 9;
IO_PORT "o[0]" IO_TYPE=LVCMOS33;
IO_LOC "o[1]" 10;
IO_PORT "o[1]" IO_TYPE=LVCMOS33;
IO_LOC "o[2]" 11;
IO_PORT "o[2]" IO_TYPE=LVCMOS33;
IO_LOC "o[3]" 13;
IO_PORT "o[3]" IO_TYPE=LVCMOS33;
IO_LOC "o[4]" 14;
IO_PORT "o[4]" IO_TYPE=LVCMOS33;
IO_LOC "o[5]" 15;
IO_PORT "o[5]" IO_TYPE=LVCMOS33;
IO_LOC "q[0]" 16;
IO_PORT "q[0]" IO_TYPE=LVCMOS33;
IO_LOC "q[1]" 17;
IO_PORT "q[1]" IO_TYPE=LVCMOS33;
IO_LOC "q[2]" 18;
IO_PORT "q[2]" IO_TYPE=LVCMOS33;
IO_LOC "q[3]" 19;
IO_PORT "q[3]" IO_TYPE=LVCMOS33;
IO_LOC "q[4]" 20;
IO_PORT "q[4]" IO_TYPE=LVCMOS33;
IO_LOC "q[5]" 21;
IO_PORT "q[5]" IO_TYPE=LVCMOS33;
