IO_LOC "clk" 3;
IO_PORT "clk" IO_TYPE=LVCMOS33;
IO_LOC "a[0]" 5;
IO_PORT "a[0]" IO_TYPE=LVCMOS33;
IO_LOC "a[1]" 6;
IO_PORT "a[1]" IO_TYPE=LVCMOS33;
IO_LOC "a[2]" 7;
IO_PORT "a[2]" IO_TYPE=LVCMOS33;
IO_LOC "a[3]" 8;
IO_PORT "a[3]" IO_TYPE=LVCMOS33;
IO_LOC "b[0]" 9;
IO_PORT "b[0]" IO_TYPE=LVCMOS33;
IO_LOC "b[1]" 10;
IO_PORT "b[1]" IO_TYPE=LVCMOS33;
IO_LOC "y" 11;
IO_PORT "y" IO_TYPE=LVCMOS33;
IO_LOC "q[0]" 13;
IO_PORT "q[0]" IO_TYPE=LVCMOS33;
IO_LOC "q[1]" 14;
IO_PORT "q[1]" IO_TYPE=LVCMOS33;
