IO_LOC "clk" 3;
IO_PORT "clk" IO_TYPE=LVCMOS33;
IO_LOC "a[0]" 5;
IO_PORT "a[0]" IO_TYPE=LVCMOS33;
IO_LOC "a[1]" 6;
IO_PORT "a[1]" IO_TYPE=LVCMOS33;
IO_LOC "a[2]" 7;
IO_PORT "a[2]" IO_TYPE=LVCMOS33;
IO_LOC "a[3]" 8;
IO_PORT "a[3]" IO_TYPE=LVCMOS33;
IO_LOC "y[0]" 9;
IO_PORT "y[0]" IO_TYPE=LVCMOS33;
IO_LOC "y[1]" 10;
IO_PORT "y[1]" IO_TYPE=LVCMOS33;
