IO_LOC "i[0]" 3;
IO_LOC "i[1]" 10;
IO_LOC "i[2]" 13;
IO_LOC "i[3]" 15;
IO_LOC "i[4]" 16;
IO_LOC "i[5]" 17;
IO_LOC "i[6]" 19;
IO_LOC "i[7]" 21;
IO_LOC "s" 23;
IO_LOC "clk" 27;
IO_LOC "y" 38;
IO_LOC "q" 40;
